/*
  Auftrag: Verknuepfe Radio-Inputs und Labels ueber id und for.
  Aufgabe: Radio und Label verknuepfen
  Projekt: Akkordeon CSS Only
  Schwierigkeit: einfach
  HTML-Tags: <input>, <label>, <span>, <section>
  CSS-Styles: position, opacity, :checked, +
*/
