/*
  Auftrag: Ergaenze ein weiteres Panel und erklaere den checked-Selektor.
  Aufgabe: Checked-Selektor erklaeren und anwenden
  Projekt: Akkordeon CSS Only
  Schwierigkeit: schwer
  HTML-Tags: <input>, <label>, <section>
  CSS-Styles: :checked, +, ~, flex-basis
*/
