/*
  Auftrag: Hebe das aktive Panel mit CSS sichtbar hervor.
  Aufgabe: Aktives Panel hervorheben
  Projekt: Akkordeon CSS Only
  Schwierigkeit: einfach
  HTML-Tags: <input>, <label>, <span>
  CSS-Styles: :checked, +, flex-basis, filter
*/
