/*
  Auftrag: Setze Panelbilder als CSS-Hintergrund mit lesbarem Text ein.
  Aufgabe: Bilder als Hintergrund einsetzen
  Projekt: Akkordeon CSS Only
  Schwierigkeit: einfach
  HTML-Tags: <label>, <span>
  CSS-Styles: background-image, background-size, background-position, linear-gradient
*/
